body {
  padding: 0% 2%;
}
button {
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 150px;
  cursor: pointer;
  outline: none;
}

.road {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 20px;
}

.north-south, .east-west {
  background-color: red;
}

.active {
  background-color: lightslategrey;
  color: white;
}
.inactive {
  background-color: ghostwhite;
  pointer-events: none;
  color: gainsboro;
  border-width: 0px;
}
